
  
  <nav class="bg-dark navbar navbar-expand-lg position-fixed top-0 w-100 z-3">
    <div class="container-fluid">
      <a class="navbar-brand text-white fw-bolder" routerLink=""><i class="fa-solid fa-utensils text-success ms-2 me-3"></i>Flavors of Fusion</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <input (input)="updateSearchKey($event)" style="width: 500px;" class="form-control me-2" type="search" placeholder="Search by your favourate Cuisine/Recipe ..." aria-label="Search">
          </li>
        </ul>
      </div>
    </div>
  </nav>