
<!-- Section-->
<section style="background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-food-overlooking-the-background-banner-image_138613.jpg);background-repeat: no-repeat;background-size: cover;" class="py-5 ">


    <div class="mt-3 d-flex justify-content-end pe-2"> 
    
        <!-- dropdown -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Make Your Day...
            </button>
            <ul class="dropdown-menu">
              <li><a (click)="sortByDinner()" class="dropdown-item" >Dinner</a></li>
              <li><a (click)="sortByLunch()" class="dropdown-item" >Lunch</a></li>
              <li><a (click)="sortBySnack()" class="dropdown-item" >Snack</a></li>
              <li><a (click)="sortByDessert()" class="dropdown-item" >Dessert</a></li>
              <li><a (click)="sortBySideDish()" class="dropdown-item" >SideDish</a></li>
              <li><a (click)="sortByAppetizer()" class="dropdown-item" >Appetizer</a></li>
              <li><a (click)="sortByBreakFast()" class="dropdown-item" >BreakFast</a></li>
              <li><a (click)="sortByBeverage()" class="dropdown-item" >Beverage</a></li>
              <li><a (click)="sortByAll()" class="dropdown-item" >All Recipe</a></li>
            </ul>
        </div>
    </div>


    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
            <div *ngFor="let recipe of allRecipe | search:searchkey | sort:sortKey | paginate: { itemsPerPage: 9, currentPage: p };" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img height="280px" class="card-img-top" [src]="recipe.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Recipe name-->
                            <h5 class="fw-bolder">{{recipe.name.slice(0,23)}}..</h5>
                            <!-- cuisine -->
                            <h6 class="fw-bold">Cuisine : {{recipe.cuisine}}</h6>
                            <!-- mealType -->
                            <h6 class="fw-semibold">MealType : {{recipe.mealType}}</h6>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
            <div *ngIf="(allRecipe | search:searchkey | sort:sortKey).length==0" class="text-danger fw-bolder" style="min-height: 50vh;">
                No Recipe found!!
            </div>
        </div>
    </div>
    <div class="w-100 text-white text-center"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>




